:root {
  color-scheme: light dark;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Arial, sans-serif;
  background-color: var(--mantine-color-body);
}

a {
  color: inherit;
  text-decoration: none;
}
